{% load static %}
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href='{% static "style.css" %}'>
	<title></title>
</head>
<body>
<div class = "superior">
	<div class = "nombre"><strong>Que Boca</strong></div>
	<form method="POST" class="datos">{{form}}
	</form>
	<button type= "submit" class = "button1">Acceder</button>
</div>
<div class = "titulo">
	<h1>Sobre nosotros...</h1>
	<p class="info">Hemos creado la forma mas sencilla de encontra tus promociones favoritas, desde carnes hasta ensaladas solo con un clic.
facil y sencillo </p> 
</div>
<div class = "registro"></div>
</body>
</html>